.Button {
  color: black;
  cursor: pointer;
}

.Submit,
.Login,
.Logout,
.SignUp,
.Apply,
.Enter,
.Cancel,
.getStarted {
  font-family: "Bahnschrift", sans-serif !important;
  font-size: 16px;
}

.Cancel {
  border-radius: 4px;
  padding: 0.25rem 0.75rem;
}

.Enter,
.Submit {
  color: white !important;
  border-radius: 4px !important;
  margin-left: 10px !important;
}

.Login {
  color: black !important;
  border-radius: 4px !important;
  border: 2px solid black !important;
}

.Signup {
  color: black !important;
  border-radius: 4px !important;
  border: 2px solid black !important;
  margin-left: 10px !important;
  margin-right: 15px !important;
}
