.Button {
  color: black;
  cursor: pointer;
}

.Create,
.Submit,
.Login,
.SignUp,
.Apply,
.Enter,
.Cancel,
.getStarted,
.Save,
.writeReview .Edit {
  font-family: "Bahnschrift", sans-serif !important;
  font-size: 16px;
  cursor: pointer !important;
}

.Cancel {
  border-radius: 4px;
  padding: 0.25rem 0.75rem;
  margin-right: 10px !important;
}

.Enter,
.Submit,
.Save,
.Edit {
  color: white !important;
  border-radius: 4px !important;
}

.Login {
  color: black !important;
  border-radius: 4px !important;
  border: 2px solid black !important;
}

.Signup {
  color: black !important;
  border-radius: 4px !important;
  border: 2px solid black !important;
  margin-left: 10px !important;
  margin-right: 15px !important;
}
