
.wrapContainer {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  overflow-x: hidden;
}

.header {
  margin-top: -25px;
  margin-right: -100px;
  display: inline-block;
}

.buttonWrap {
  display: inline-block;
  padding-left: 500px;
}

.searchBox {
  padding-left: 350px;
} 

