.wrapContainer {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  overflow-x: hidden;
}

.header {
  margin-top: -8px;
  margin-right: -100px;
  display: inline-block;
}

.buttons {
  /* width: 50% !important; */
  position: absolute;
  /* right: -0%; */
}

