.wrapper {
  width: 100% !important;
}

.header {
  margin-left: 45% !important;
  font-size: 3rem !important;
}

.postInfo {
  width: 30% !important;
  position: absolute;
  top: 11%;
  left: 33%;
}
