.wrapper {
  width: 110% !important;
  /* background-image: url("https://media.cntraveller.com/photos/611bf4ca22be3ca7e5c01162/16:9/w_1280,c_limit/rickshaw_cnt_19oct12_pr.jpg");
  background-size: cover;
  height: 90vh !important; */
}

.selectBox {
  border: 2px solid black;
  width: 50% !important;
  height: 30% !important;
  padding: 100px;
  margin-top: 200px;
}

.customerBox,
.vendorBox {
  border: 2px solid black;
  padding: 1.25rem 1.45rem;
  position: relative;
}

.vendorBox {
  margin-top: 20px !important;
}

.wrapper > h2 {
  margin-left: 42% !important;
  font-size: 30px;
}

.icon {
  position: absolute;
  right: 25px;
  bottom: 25px;
  cursor: pointer;
}
