.wrapper {
  width: 110% !important;
  background-image: url("../../../../public/accountselectionpic.jpg");
  background-size: cover;
  height: 91vh !important;
  padding-top: 5px;
}

.selectBox {
  border: 2px solid black;
  background-color: lightgray;
  width: 50% !important;
  height: 50% !important;
  padding: 100px;
  margin-top: 200px;
  opacity: 0.92;
}

.customerBox,
.vendorBox {
  border: 2px solid black;
  padding: 1.25rem 1.45rem;
  position: relative;
}

.vendorBox {
  margin-top: 20px !important;
}

.wrapper > h2 {
  margin-left: 42% !important;
  font-size: 30px;
}

.icon {
  position: absolute;
  right: 25px;
  bottom: 25px;
  cursor: pointer;
}
