.wrapper {
  width: 100% !important;
  /* width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important; */
}

.profileActions {
  margin-top: 100px !important;
  padding: 10px !important;
  background-color: lightgray;
  width: 80% !important;
}

.fields {
  padding-left: 400px !important;
  width: 50% !important;
}

.fields > h2 {
  font-size: 40px;
}

.pane {
  height: 700px !important;
  width: 200% !important;
}