.wrapper {
  width: 100% !important;
  display: flex;
}

.title {
  margin-left: 45% !important;
  font-size: 35px !important;
  padding-bottom: 100px !important;
}

.newCards {
  position: absolute;
  left: 50%;
  bottom: 40.5%;
}

.newCards > h2 {
  color: red !important;
}

.content {
  width: 80% !important;
  padding-left: 20% !important;
}
