.wrapper {
  width: 100% !important;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  padding-left: 10% !important;
}

.title {
  margin-left: 43% !important;
  margin-top: 10px !important;
  font-size: 35px !important;
  padding-bottom: 100px !important;
}

.newCards {
  margin-top: 40px !important;
}

.newCards > h2 {
  color: red !important;
}
