.wrapper {
  position: relative;
  background-color: antiquewhite;
  border: 1px solid black;
  margin-left: 36%;
  margin-top: 220px;
  width: 500px !important;
  padding: 2rem 1rem;
}

.ui.center.container {
  display: inline-block !important;
}

.fields {
  margin-top: 20px;
  display: inline-block !important;
}

.test {
  position: absolute;
  left: 30%;
  padding-bottom: 30px !important;
  padding-top: 20px !important;
}

.header {
  padding-bottom: 20px;
}

.error {
  color: #e63946 !important;
  font-size: 1rem;
  padding-bottom: 2px !important;
}

.field1 {
  margin-bottom: 20px !important;
}
