.signUpWrapper {
  width: 100% !important;
}

.header {
  margin-left: 40% !important;
}

.form {
  margin-left: 37% !important;
  margin-top: 5% !important;
  border: 2px solid rgba(0, 0, 0, 0.25);
  width: 25%;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  background-color: lightgrey;
}

.btnContainer {
  /* position: absolute; */
  /* left: 0px; */
  width: 40% !important;
  padding-top: 20px !important;
  padding-left: 1.5% !important;
}

.signUpWrapper > h1 {
  margin-left: 40%;
}

.error {
  color: #e63946 !important;
  font-size: 1rem;
  padding-bottom: 2px !important;
}
