.signUpWrapper {
  width: 100% !important;
}

.header {
  margin-left: 40% !important;
}

.formWrapper {
  margin-left: 37% !important;
  margin-top: 5% !important;
  border: 2px solid rgba(0, 0, 0, 0.25);
  width: 25%;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  background-color: lightgrey;
}

.btnContainer {
  width: 40% !important;
  padding-top: 20px !important;
  padding-left: 1.5% !important;
}

.signUpWrapper > h1 {
  margin-left: 40%;
}

.error {
  color: #e63946 !important;
  font-size: 1rem;
  padding-bottom: 2px !important;
}

.errContainer {
  margin-left: 0% !important;
}

.field {
  margin-right: 10px !important;
  margin-left: 2px !important;
  margin-top: 4px !important;
  margin-bottom: 1rem !important;
}

.googleButtonWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
