* {
  box-sizing: border-box;
}

.row {
  border-radius: 5px !important;
  border-color: white !important;
}

.stars {
  margin-top: 5px;
}

.h2 {
  margin-left: 62px;
}

.heart {
  margin-left: 5%;
}

.reply {
  cursor: pointer;
}

.reply:hover {
  color: darkblue !important;
}

.replyForm {
  margin-left: 6% !important;
}

.replyFormArea {
  border: 1px solid black !important;
}

.commentWrap {
  width: 100% !important;
  padding-left: 22px !important
}

.commentWrap2 {
  width: 100% !important;
  padding-left: 44px !important
}
