* {
  box-sizing: border-box;
}

.row {
  border-radius: 5px !important;
}

.stars {
  margin-top: 5px;
}

.h2 {
  margin-left: 62px;
}

.heart {
  margin-left: 5%;
}

.reply {
  cursor: pointer;
}

.reply:hover {
  color: darkblue !important;
}
