* {
  box-sizing: border-box;
}

.firstImage img:first-of-type {
  height: 50px;
  margin-right: 70px;
  padding-bottom: 15px;
  object-fit: cover;
}

span {
  margin-top: 30%;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
}
