.sidebar {
  z-index: 1000 !important;
  background-color: black !important;
}

.search {
  position: absolute;
  left: 0px;
  top: 30px;
  width: 100%;
}

.closeIcon {
  background: transparent !important;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  z-index: 2;
}

.closeIcon:hover {
  color: white;
}

.menuItem {
  display: flex !important;
  position: relative;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}

.header {
  margin-bottom: 15px !important;
}
