.sidebar {
  z-index: 1000 !important;
  background-color: black !important;
  /* position: relative !important; */
  /* top: 600px; */
  /* left: 500px !important; */
}

.closeIcon {
  background: transparent !important;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 2;
}
