name: Deploy
on:
  push:
    branches:
      - 'ci'
    tags:
      - '*'

jobs:
  deploy_gh_pages:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '17.1'
          cache: 'npm'
          cache-dependency-path: app/package-lock.json
      - run: |
          echo "{\"version\":\"${GITHUB_REF_NAME}\",\"apiBaseURL\":\"https://ec2-52-24-163-172.us-west-2.compute.amazonaws.com/\"}" \
            > configuration.json
        working-directory: app/src
      - run: |
          npm ci
          npm run build
        working-directory: app
      - uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          BRANCH: gh-pages
          FOLDER: app/dist
