name: Test

on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - main

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Prettify code
      uses: creyD/prettier_action@v4.1.1
      with:
        dry: True
        prettier_options: --check
        working-directory: app

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '17.1'
    - name: Build
      run: |
        npm install
        npm run build
      working-directory: app
