name: Test

on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - main

jobs:
  webpack:
    name: Typescript
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '17.1'
        cache: 'npm'
        cache-dependency-path: app/package-lock.json
    - name: Build
      run: |
        npm ci
        npm run typescript
        npm run build
      working-directory: app
  frontend-test:
    name: Frontend tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '17.1'
          cache: 'npm'
          cache-dependency-path: app/package-lock.json
      - name: Tests
        run: |
          npm ci
          npm run test
        working-directory: app
  prettier:
    name: Prettier
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '17.1'
        cache: 'npm'
        cache-dependency-path: app/package-lock.json
    - name: Prettier
      run: npx prettier --check .
      working-directory: app
  test-backend:
    name: Run backend tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17'
      - name: Setup MySQL
        run: |
          sudo systemctl start mysql.service
          mysql --user=root --password=root --execute="ALTER USER 'root'@'localhost' IDENTIFIED BY ''"
      - name: reset_database test
        run: go test
        working-directory: backend/reset_database
  golint:
    name: Lint Go
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          working-directory: backend
